<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-4">
    <!-- import component, htmltag, attibute, class -->
    <!-- <app-shopping-list></app-shopping-list> -->

    <!-- <div app-shopping-list></div> -->
    <div class="app-shopping-list"></div>



    {{title}}

    <button type="button" class="btn btn-primary" name="button" [disabled]="disabledButton">Button</button>


    <br>
    <br>

    <button (click)="clicked()" type="button" class="btn btn-primary" name="button" [disabled]="disabledButton">Button 2</button>

    <p>Clicked {{clickTimes}}</p>

    <br>
    <br>
    <input type="text" [(ngModel)]="name">
     {{name}}
     <br>

     <input type="text" (input)="input($event)">
      {{value}}
     <br>
     <br>

     <!-- ngif ngfor -->
     <p *ngIf="showNgIf ; else notShow">3. show element  </p>
     <ng-template #notShow>
        <p>3. Not show element  </p>
     </ng-template>

     <!-- 3.ngFor-->
     <ul *ngFor="let car of cars; let i = index">
       <li>
         {{i+1}},{{car}}
       </li>
     </ul>


     <!-- ngStyle -->
     <h4 [ngStyle]="{'backgroundColor':'red'}"> ngStyle testing</h4>

     <h4 [ngClass]="{showBlue:false, white:false}">ngClass Testing</h4>

     <!-- ngSwitch -->
     <div [ngSwitch]="num">
       <p *ngSwitchCase="5">Value is 5</p>
       <p *ngSwitchCase="10">Value is 10</p>
       <p *ngSwitchCase="100">Value is 100</p>
       <p *ngSwitchDefault>Value is Default</p>
     </div>

     <!-- @INput -->
     <app-shopping-list [shoppingAmount]="5"></app-shopping-list>
     <app-shopping-list (shoppingClicked)="showAccount($event)"></app-shopping-list>

     <!-- 5.local reference -->
     <h4>local reference </h4>
     <input type="text" name="" value="" #inputValue>
     <button type="button" name="button" (click)="showInputValue()"> Show Value</button>

     <!-- ng-content -->
     <app-shopping-list>
       <h4>ng-content examples</h4>
     </app-shopping-list>


     <p appHighLight>This is Directive example</p>

       <p appBetterHighLight [defaultColor]="'blue'" [appBetterHighlight]="'yellow'">Style me with a better directive!</p>

    </div>

  </div>
</div>
